<nav id="navbar-exemplo2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#um">um</a>
        <a class="dropdown-item" href="#dois">dois</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#tres">tres</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-exemplo2" data-offset="0">
  <h4 id="fat">@fat</h4>
  <p>...</p>
  <h4 id="mdo">@mdo</h4>
  <p>...</p>
  <h4 id="um">um</h4>
  <p>...</p>
  <h4 id="dois">dois</h4>
  <p>...</p>
  <h4 id="tres">tres</h4>
  <p>...</p>
</div>
